<div class="container mb-5 mt-5"> 
        <div class="title">
            <h2><div>Servicos</div></h2>
        </div>
        
            <div class="row">

            <div class="col-md-4">
                <h4 class="text-center text-white">Criação de sites</h4>
            </div>
            <div class="col-md-4">
                <h4 class="text-center text-white">Criação de logo</h4>

            </div>
            <div class="col-md-4">
                <h4 class="text-center text-white"> Criação de aplicativos</h4>

            </div>

            </div>
        </div>
