<div id="contato-home" class="mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 bg-secondary text-white" >
                    <h3 class="text-center p-3">Redes sociais</h3>
                    <h6  class="text-center p-3">Whatsapp: <span>(85) 99782-7198</span></h6>
                    <h6 class="text-center p-3">Instagram: <span>@ourminddev</span></h6>
                    <h6  class="text-center p-3">Facebook: <span>(85) 99782-7198</span></h6>
                    <h6  class="text-center p-3">Youtube: <span>(85) 99782-7198</span></h6>


            </div>
            <div class="col-md-8 bg-white ">
                <h3 class="text-center p-3">Faça seu orçamento!</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="label">Seu nome</div>
                            <input class="input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="label">Tipo de aplicação</div>
                            <input class="input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="label">Descrição</div>
                            <textarea class="input">

                            </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="button bg-primary">Enviar</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>