<div class="content-fluid bg-white p-3 mb-5 mt-5">
  <div class="row">
      <div class="col-md-12">
          
          <h2 class="text-center">Sobre</h2>
          <h6 class="text-justify p-3">
            Lorem ipsum luctus euismod hendrerit torquent congue posuere enim praesent pellentesque, ornare integer ullamcorper taciti sapien donec tincidunt viverra rutrum luctus turpis, cubilia malesuada vehicula lobortis lacinia malesuada pellentesque etiam massa. congue quisque vitae eu senectus turpis sollicitudin, pulvinar interdum feugiat dictumst quisque auctor fringilla, torquent dapibus fermentum netus sit. sociosqu nostra netus a ultrices conubia interdum senectus sodales accumsan vestibulum vulputate porttitor, vestibulum lectus primis curabitur placerat vivamus pulvinar nec odio cras. consectetur cubilia gravida diam duis tristique vehicula class, dapibus posuere curae pharetra gravida cras pellentesque mi, eu mattis aenean tristique phasellus fames.
          </h6>
      </div>
  </div>
</div>