.nav-link{
    color: #fff;
}
.img-logo{
    width: 130px;
}
.active::after{
    display:block;
    content: '';
    border-bottom: solid 2px #ef3a4c!important;  
    transform: scaleX(1)!important;  
    transition: transform 250ms ease-in-out;
    
}
.active{
    color:#24ff48!important;
}
.link::after{
    display:block;
    content: '';
    border-bottom: solid 2px #ef3a4c;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.link:hover:after {
    transform: scaleX(1);  
} 
.link:focus:after {
    transform: scaleX(1);  
}

.btn-toggler{
    width: 45px;
    height: 45px;
    cursor: pointer;
    color: #fff;
}

.navbar-toggler{
    padding: 0;
    border: none;
}