
    <div class="container-fluid mb-5 " style="margin-top: 69px;">
        <div class="title">
            <h2><div>Cursos</div></h2>
        </div>
       
            <div class="list-horizontal" id="lista-cursos">
               <card-curso *ngFor="let curso of cursos"></card-curso>
            </div>
            <div class="move-lista">
                <div class="previous">

                </div>
                <div class="next">
                    
                </div>
            </div>

       

    </div>
